{% extends 'menu.html' %}

{% block content1 %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div onshow="cargarInfo();" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-2 my-1">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Gestion de Actividades</h1>
                            </div>
                            <form class="user" action="/usuarios" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0 mb-3">
                                        <select class="form-select" style = "background-color: black; color:white" aria-label="Default select example" id="rol">
                                            <option value="seleccione" selected>Seleccione</option>
                                            <option value="Docente">Desarrollo de Sotfware</option>
                                            <option value="Estudiante">Ingles</option>
                                            <option value="Estudiante">Coaching</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" style = "background-color: black; color:white" class="form-control form-control-user mb-3" id="nombre1"
                                            name="nombre1" placeholder="Digite Actividad...">
                                    </div>                                                                      
                                </div>                               
                                
                                <div class="d-flex gap-2">
                                    <button id="boton-accion" class="btn btn-primary" type="button" style = "background-color: white; color:black; margin:auto"
                                        onclick="verdatos();">Crear Actividad</button>
                                    <button class="btn btn-danger" id = "botonR" type="button" style = "background-color: white; color:red; position: relative; right: 375px"
                                        onclick="vercancelar()">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-1 my-1">
                <div class="card-body p-0">
                    <div class="p-3">
                       
                        <table id="usuarios2" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Docente</th>
                                    <th>Curso</th>
                                    <th>Estudiantes</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="listado"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function () {
        verdatos();
    }
</script>


{% endblock %}